**/bin/
**/obj/
**/target/
.idea/
.vscode/
.DS_Store
.env
*.user
*.suo
*.pfx
*.key
coverage/
artifacts/
**/node_modules/
**/dist/
*.log
*.tsbuildinfo
engines/godot/godot-cpp/
engines/godot/addons/certael/bin/
engines/godot/.sconsign.dblite
engines/godot/src/*.os
Certael-Website/
